# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pbxproj
*.xcworkspacedata
*.xcuserstate
*.plist
*.xcuserstate
*.xcuserstate
*.iml
*.xml
*.cmake
*.txt
*.bin
*.marks
Chapter_02/cmake-build-debug/Makefile
Chapter_02/cmake-build-debug/CMakeFiles/Makefile2
*.cxx
*.c
*.log
*.check_cache
*.make
*.internal
*.includecache
*.cbp
Chapter_02/cmake-build-debug/Chapter_02
Chapter_02/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.xcbkptlist
*.xcscheme
